.pricing-1.section {
    height: 100vh;
}

.card-pricing.card {
    background: #abc3c3 !important;
    height: 550px;
}

div.card-pricing.card p.card-description {
    font-weight: 500;
}

div.card-pricing.card .card-title {
    font-weight: 500;
    height: 55px;
}

.section.section-pricing.cd-section {
    padding-top: 0px;
}